{% extends "pages/base.html" %}

{% block headTags %}
<title>
    {% if entry and entry.topic %}
    {{entry.topic}} • Mycyclopedia
    {% else %}
    New Entry • Mycyclopedia
    {% endif %}
</title>
<link href="{{url_for('static', filename='styles/entry.css')}}"
      rel="stylesheet"
      type="text/css">
<link href="{{url_for('static', filename='styles/code/default.css')}}"
      rel="stylesheet"
      type="text/css">
{% endblock %}

{% block nav %}
<h1 id="logo">
    <a class="logotype"
       href="/"
       title="Home"></a>
    <a class="text hidden"
       href="/">Mycyclopedia</a>
</h1>
<div class="flexibleSpace"></div>
<form action="/e/new"
      id="newEntry"
      method="get">
    <div class="wrapper">
        <input autocapitalize="on"
               autocomplete="off"
               name="topic"
               placeholder="Topic"
               required
               type="text"
               {%
               if
               entry
               and
               entry.topic
               %}
               value="{{entry.topic}}"
               {%
               endif
               %}>
        <button title="Go!"
                type="submit"></button>
    </div>
</form>
<div class="flexibleSpace"></div>
<div id="mainHeaderActionButtons">
    {% if current_user %}
    <div id="currentAccountIdentity">{{ current_user.email_address }}</div>
    <form action="/log-out"
          method="post"
          name="logoutForm">
        <button id="navLogoutButton"
                title="Log out of this account."
                type="submit">Logout</button>
    </form>
    {% else %}
    <a class="button"
       href="/log-in"
       id="navLoginButton"
       title="Log into an existing account.">Login…</a>
    <a class="button"
       href="/join"
       id="navUserRegistrationButton"
       title="Create a new account.">New Account…</a>
    {% endif %}
</div>
{% endblock %}

{% block content %}
{% if not entry.user_id %}
<em id="ephemeralityNotice">This entry will be deleted after 24 hours. To preserve and view your history, <a href="/join">create an account</a> (it's free and super quick).</em>
{% endif %}
<article aria-labelledby="title"
         id="{{ entry.id }}">
    <header>
        <a {%
           if
           entry.cover_image
           %}
           href="{{entry.cover_image.url}}"
           style="background-image:url('{{entry.cover_image.url}}');"
           {%
           endif
           %}
           id="coverImage"
           target="_blank">
            <div class="progressIndicator spinner {% if entry.cover_image %}hidden{% endif %}">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <small class="source {% if not entry.cover_image or not entry.cover_image.source %}hidden{% endif %}">
                {% if entry.cover_image and entry.cover_image.source %}
                Source: {{entry.cover_image.source}}
                {% endif %}
            </small>
        </a>
        <h1 id="title">{{entry.topic}}</h1>
        <section id="summary">{{entry.summary}}</section>
        <section id="stats">
            <dl>
                {% for stat in entry.stats %}
                <dt>{{stat.name_html | safe}}</dt>
                <dd>{{stat.value_html | safe}}</dd>
                {% endfor %}
            </dl>
        </section>
        <ol id="toc">
            {% for section in entry.sections %}
            <li>
                <span class="arrow">⟩</span>
                <h3>
                    <a class="section"
                       data-section-id="{{section.id}}"
                       href="#{{section.id}}">{{section.title}}</a>
                </h3>
                {% if section.subsections %}
                <ol>
                    {% for subsection in section.subsections %}
                    <li>
                        <h4>
                            <a class="subsection"
                               data-section-id="{{subsection.id}}"
                               href="#{{subsection.id}}">{{subsection.title}}</a>
                        </h4>
                    </li>
                    {% endfor %}
                </ol>
                {% endif %}
            </li>
            {% endfor %}
        </ol>
    </header>
    <div class="content">
        {% for section in entry.sections %}
        <div class="page hidden">
            <section class="super"
                     data-section-id="s-{{section.id}}"
                     id="{{section.id}}">
                <h2 class="sectionTitle">{{section.title}}</h2>
                <div class="sectionContent">
                    {{section.content_html | safe}}
                </div>
            </section>
            {% if section.subsections %}
            {% for subsection in section.subsections %}
            <section class="sub"
                     data-section-id="s-{{subsection.id}}"
                     id="{{subsection.id}}">
                <h2 class="sectionTitle">{{subsection.title}}</h2>
                <div class="sectionContent">
                    {{subsection.content_html | safe}}
                </div>
            </section>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="hidden"
         id="relatedTopics">
        <h3 class="title">Related Topics</h3>
        <ul>
            {% if entry.related_topics %}
            {% for related_topic in entry.related_topics %}
            <li>
                <a class="topic"
                   href="/e/new?topic={{related_topic.topic | urlencode}}"
                   id="{{related_topic.id}}">{{related_topic.topic}}</a>
            </li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</article>
<div class="hidden"
     id="progressOverlay">
    <div class="progressIndicator bar"
         id="lookupProgressIndicator"></div>
</div>
<div class="hidden"
     id="selectionPopup">
    <div class="outerWrapper">
        <div class="innerWrapper">
            <button class="hidden"
                    id="askAssistantButton"
                    type="button">Ask Assistant…</button>
            <button class="hidden"
                    id="lookUpButton"
                    type="button">Look Up</button>
        </div>
        <span class="nipple"></span>
    </div>
</div>
<div class="progressIndicator bar"
     id="entryProgressIndicator"></div>
<em id="accuracyNotice"
    class="hidden">Mycyclopedia entries are AI-generated and some information may be inaccurate. Consider checking important information.</em>
<div class="hidden"
     id="chatWindow">
    <div class="titlebar">
        <h3 class="title">Assistant</h3>
        <div class="windowActionButtons">
            <button class="close"
                    title="Close">
                <span></span>
            </button>
        </div>
    </div>
    <div class="view">
        <ul id="chatMessages">
            <li class="contextMessage"></li>
        </ul>
        <form id="assistantInput">
            <div class="wrapper">
                <textarea placeholder="Message"
                          required></textarea>
                <button title="Send"
                        type="submit"></button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script charset="utf-8"
        type="text/javascript">
            const facts = JSON.parse('{{entry.fun_facts | tojson | double_escape}}');
            const proficiency = {{ entry.proficiency }};
        </script>
<script crossorigin="anonymous"
        integrity="sha512-lYRvlgmxv7o+vp/Gmo3p4qLML4csV0loGFy8cP2vpMSwV4F65BTq6LUZyq5zlV5s/LB0KkdGhd/tnMCmjWardA=="
        referrerpolicy="no-referrer"
        src="https://cdnjs.cloudflare.com/ajax/libs/marked/9.0.3/marked.min.js"></script>
<script charset="utf-8"
        src="{{url_for('static', filename='scripts/entry.js')}}"
        type="text/javascript"></script>
{% endblock %}